<footer>
	<div class="container">
		<div class="row footer">
			<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
				<div class="footer_text">
					<img  src="images/logo_wm.png" alt="WELD-MAR" />
					<h1>WELD-MAR</h1>
					<h3>Металлоконструкции</h3>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
				<div class="footer_text">
					<p class="text-white"><i class="fa fa-phone"></i>+38 (098) 877 04 83</p>
					<p class="text-white"><i class="fa fa-envelope-o"></i>weld-mar@gmail.com</p>
					<p> Developed by:
						<a href="https://www.facebook.com/profile.php?id=100013403821793" target="_blank">Albert</a>
				</div>
			</div>
		</div>
	</div>
</footer>