<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Изготовление металлоконструкций.</title>
<meta name="keywords" content="
    Изготовление металлоконструкций,
    изготовление изделий из алюминия,
    изготовление изделий из металла,
    токарные работы,
    фрезеровочные работы,
    проектные работы,
    изготовление механических приспособлений,
    Мариуполь, Украина">
<meta name="description" content="Изготовление металлоконструкций, изделий из алюминия и прокатной стали, выполнение токарных работ, выполнение проектных работ.">

<!-- Style CSS -->
<link rel='stylesheet' href='stylesheets/style.css' />
<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link href="stylesheets/lightbox.css" rel="stylesheet">

<link href="images/logo_wm.ico" rel="shortcut icon" type="image/x-icon" />
<script src="javascripts/angular.js"></script>
<script src="javascripts/app.module.js"></script>