<header>
	<div class="container">
		<div class="row header_row">
			<div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 head">
				<div><a href="http://localhost:3000/">
					<img  src="images/logo_wm.png" alt="WELD-MAR" />
					</a>
				</div>
				<div>
					<h1>WELD-MAR</h1>
					<h3>Металлоконструкции</h3>
				</div>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 head_info">
				<div><p class="text-secondary"><i class="fa fa-phone"></i>+38 (098) 877 04 83</p></div>
				<div><p class="text-secondary"><i class="fa fa-envelope-o"></i>weld-mar@gmail.com</p></div>
			</div>
		</div>
	</div>
</header>