<section class="contacts_page  block_page">
	<div>
		<h4>Контактные данные</h4>
		<p class="text-dark">Украина, г.Мариуполь</p>
		<p class="text-dark">Приморский район, ул. Заводская 8, к2</p>
		<p class="text-dark"><i class="fa fa-phone"></i>+38 (098) 877 04 83</p>
		<p class="text-dark"><i class="fa fa-envelope-o"></i>weld-mar@gmail.com</p>
	</div>
</section>
