<section class="main_page block_page">
	<div class="">
		<img src="images/projekt.JPG">
		<h4>Разработка современных металлических изделий и конструкций</h4>
		<p>Помимо непосредственного изготовления металлоизделий, мы также оказываем услуги по их проектированию. Это не менее важное направление нашей деятельности, поэтому мы постоянно совершенствуем как наше материально-техническое оснащение для проектировочных работ, так и регулярно повышаем качество наших кадров, обучая их. Основу нашей проектировочной технической базы составляет самое современное программное обеспечение. Оно обеспечивает не только высокую скорость работы специалистов и надежную защиту от ошибок, но и позволяет построить предварительную трехмерную модель будущего изделия для наглядности на этапе согласования проекта.</p>

		<p>Если Вы заказываете производство изделий из металла, но у Вас еще нет чертежей, по которым будет выполняться работа, то оптимальнее всего заказать их разработку также у нас. Это целесообразно с двух точек зрения: во-первых, это, как правило, поможет Вам сэкономить бюджет, а во-вторых, это гарантирует высокую скорость и надежность работы, так как отсутствуют зоны разделения обязанностей и улучшается контроль качества на всех этапах. В конце концов, взаимодействовать только с одним подрядчиком гораздо удобнее и проще для менеджеров заказчика.</p>

		<ul>Проектирование состоит из следующих этапов:
			<li>Выяснение потребностей заказчика и составление технического задания. Мы определим до всех мелких подробностей, что именно хочет получить наш клиент, и в чем будет состоять наша производственная задача. При необходимости будет осуществлен выезд на объект для замеров. Результатом работы будет подробно составленное текстовое ТЗ, на основе которого начнется непосредственно проектировочная работа.</li>
			<li>Предварительные расчеты. На этом этапе специалисты выполняют и проверяют расчеты общей конструкции изделия и его прочностных характеристик, а также рассчитывают затраты металла на его изготовление. На этом же этапе делается выбор в пользу конкретного металлического сплава, из которого будет выполнено изделие.</li>
			<li>Окончательные расчеты и согласование проекта. Клиенту предоставляют возможность ознакомиться с чертежами, при необходимости в проект вносятся изменения и правки.</li>
			<li>Сдача готового проекта в производство и контроль качества.</li>
		</ul>
		<p>Для заказа услуги по проектированию, отправьте, пожалуйста техническое задание на электронный адрес weld-mar@gmail.com. Наши менеджеры свяжутся с Вами вашего заказа.</p>
	</div>
</section>
