<section class="main_page block_page" ng-controller="base">
	<div class="">
		<img src="images/stal.JPG">
		<h4>Компания "WELD-MAR"</h4>
		<p>Конструкции из металла очень прочно вошли в нашу жизнь. Они окружают нас везде: дома, на работе, в торговом центре или в парке. Они используются при строительстве домов и промышленных зданий, парковок, мостов, магистральных трубопроводов, мест отдыха. Это ограждения на крышах, балконах и лестницах, дверные ручки, колесоотбойники, элементы отделки зданий, беседки, горки на детских площадках, вентиляционные решётки и многое другое. Видов изделий из металла безграничное множество. И наше производство металлоконструкций в Мариуполе выпускает большой перечень продукции на заказ, используя различные технологии обработки металла на современном оборудовании.</p>
		<h6 class="text-primary">Наши приимущества:</h6>
		<ul>
			<li>Изготовление конструкций, металлообработка в г. Мариуполе ведётся на современном высокопроизводительном оборудовании, обрабатывающим металл с высокой точностью.</li>
			<li>Мы имеем возможность выпускать нестандартные металлоконструкции.</li>
			<li>Обрабатываем металл, изготавливаем изделия по чертежам заказчика.</li>
			<li>Производственные мощности позволяют наладить крупносерийное производство.</li>
			<li>У нас можно заказать любой вид обработки металла.</li>
			<li>Специалисты нашего конструкторского отдела разрабатывают чертежи и проекты.</li>
		</ul>
		<h6 class="text-primary">Продукция для строительства</h6>
		<p>Специализированные конструкции и изделия из металла, изготовленные по типовым сериям, используются при строительстве промышленных объектов, монолитных и железобетонных зданий.</p>
			<ul>К ним относятся:
				<li>лестницы</li>
				<li>ограждения</li>
				<li>перила</li>
				<li>опоры под трубопроводы</li>
				<li>арматурные каркасы, сетки</li>
				<li>закладные детали и др.</li>
				<li>Производство нестандартных металлоконструкций по вашим проектам</li>
			</ul>
			<p>Наш завод по обработке металла имеет достаточную мощность для изготовления всей вышеперечисленной и другой продукции из металла.</p>
		<h6 class="text-primary">От эскиза до изготовления</h6>
		<p>Сегодня для строительства промышленных зданий, мостов, тоннелей требуется изготовление как типовых металлоконструкций, так и мелких или крупных партий металлоконструкций по индивидуальным проектам. Компании, занимающиеся обработкой металла в промышленных масштабах, помимо выпуска обычного ассортимента продукции, должны оперативно выполнять крупные и сложные проекты по чертежам заказчика.</p>
		<p>Компания «WELD-MAR» принимает заказы на изготовление любых индивидуальных изделий. По предоставленным нам эскизам специалисты нашего конструкторского отдела выполнят чертежи, проведут прочностные расчёты конструкций.</p>
		<p>Металлообработка, сварка, защитное покрытие металла — все необходимые операции будут включены в технологический процесс по изготовлению продукции по вашим чертежам.</p>
		<p>При необходимости мы выполним сборку и монтаж металлоконструкции на месте.</p>
	</div>
</section>
