<section class="manufacturing_page block_page" ng-controller="base">
	<div class="">
		<img src="images/izdelie.jpg">
		<h4>Изготовление из металла</h4>
		<p>Осуществляем изготовление металлических изделий на заказ по чертежам заказчика.</p>
		<ul>Оказываем комплексные услуги по изготовлению изделий из металла на заказ:
			<li>Конструирование и разработка чертежей</li>
			<li>Выполнение задания по чертежам заказчика</li>
			<li>Раскрой деталей на станке гидроабразивной резки</li>
			<li>Гибка заготовок</li>
			<li>Запрессовка метизов (шпилька, болт, гайка)</li>
			<li>Сварка изготовленных деталей</li>
		</ul>
		<p>Металлообработка и изготовление корпусов приборов из металла по чертежам заказчика производится на высокотехнологичном импортном оборудовании с профессиональным подходом: при постоянном контроле процесса изготовления изделия на всех этапах специалистами конструкторами и технологами: с расчетов конструкции и разработки чертежей, до сдачи готового изделия.</p>

		<ul>Выполняем заказы в области металлообработки на заказ:
			<li>Токарной обработки</li>
			<li>Фрезерной обработки</li>
			<li>Гравировальных работ</li>
			<li>Аргонодуговой сварки алюминия</li>
			<li>Сварки легированных и углеродистых сталей</li>
			<li>Гибки листового металла</li>
			<li>Гидроабразивной резки материалов</li>
		</ul>
		<h6  class="text-primary">Наши возможности ограничены вашей фантазией!</h6>
	</div>
</section>
