<section class="turning_page block_page">
	<div class="">
		<h4>Токарные и фрезерные работы.</h4>
		<img src="images/turning.jpg">
		<p>Выполняем на заказ токарные работы по металлу любой сложности при минимальной партии заказа: от одной единицы изделия до мелких серий.</p>

		<ul>Вы можете разместить у нас заказ на следующие виды токарных работ:
			<li>продольное и поперечное точение</li>
			<li>растачивание</li>
			<li>сверление</li>
			<li>нарезание резьбы</li>
		</ul>
		<p>Заказав у нас токарные или фрезерные работы по металлу, Вы получите изделия высокого класса точности по выгодной цене.</p>

		<h6 class="text-primary">Цена токарных работ</h6>
		<p>Цена на токарные работы по металлу определяется временем токарной обработки и зависит от сложности деталей. Цена и сроки конкретного заказа определяются после получения чертежа или эскиза детали.</p>

		<h6 class="text-primary">Размещение заказа</h6>
		<p>Для размещения заказа на токарную обработку деталей на станках с ручным управлением принимаются чертежи, как в виде эскиза с указанием всех требуемых размеров, так и в AutoCAD, SolidWorks, ADEM.</p>
		<p>Для размещения заказа на токарные работы по металлу на станках с ЧПУ принимаются чертежи с указанием всех требуемых размеров в SolidWorks, ADEM,  на электронный адрес weld-mar@gmail.com.</p>
	</div>
</section>
