<section class="welding_page  block_page">
	<div>
		<h4>Услуги по сварке металлоконструкций</h4>
		<img src="images/welding.jpeg">
		<p>Предоставляем услуги по сварке металла и сварке металлоконструкций любой сложности: сварка стали (прокат: лист, труба и т.д.), нержавеющей стали (прокат: лист, труба), меди, бронзы, алюминия, силуминия (дюрали), легированной и углеродистой стали на заказ.</p>

		<p>Принимаем заказы на услуги по сварке металла и металлоконструкции от одной единицы изделия.</p>

		<ul>Выполняем заказы на сварку металлоконструкций:
			<li>Конструкции из металла</li>
			<li>Корпусные изделия (металлическая мебель, стеллажи, бытовые изделия: корпуса, полки, держатели, светильники, отбойники колонн и стен, декоративные панели</li>
			<li>Изготовление нестандартных металлоизделий</li>
			<li>Элементы наружной рекламы (буквы, логотипы, объемные конструкции)</li>
			<li>Емкости, межоперационная тара, элементы технологической оснастки и многое другое</li>
		</ul>
		<h6  class="text-primary">Цена сварки металлоконструкций</h6>
		<p>Цена сварки определяется типом материала, длиной сварного соединения и требованиями по качеству сварного соединения. Цена и сроки выполнения конкретного заказа определяются после получения чертежа с обозначением сварного соединения.</p>

		<h6  class="text-primary">Размещение заказа на сварку металла и металлоконструкций</h6>
		<p>Для заказа услуги по сварке, отправьте, пожалуйста, чертеж с обозначением сварного соединения по ЕСКД и спецификацию (для сборочных единиц) на электронный адрес weld-mar@gmail.com.</p>
	</div>
</section>
